<h1>Start Game</h1>

<p>Intruction</p>
<ul>
  <ol>You have to enter the longest english word you can find using only letters in the grid.</ol>
  <ol>Press button for calculate score</ol>
</ul>

<!-- <form action="/game" method="get">
  <input type="submit">
</form> -->

<%= link_to game_path do  %>
  <button type="submit">Start Game</button>
<% end %>
